{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<br />
<br />
<br />

    <style>
        body{
          background: url('{% static "img/cream.jpg" %}');
          background-size: cover;
        }
    </style>


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
        </p>
    {% else %}
        <p><li style="color:Red">Please login to see this page!</li></p>
    {% endif %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <center><h1 style="color:MidnightBlue ;"><strong>&#9886; Sign In &#9887;</strong></h1></center>
            <hr style="border: 1px outset #191970;">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Log In</h3>
                </div>
                <div class="panel-body">
                    <form action="{% url 'login' %}" method="post">{% csrf_token %}
                        <p class="bs-component">
                            <center>
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}<hr/></td>
                                    <td>{{ form.username }} <hr/></td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}<hr/></td>
                                    <td>{{ form.password }}<hr/></td>
                                </tr>
                            </table>

                            <input type="hidden" name="next" value="{{ next }}" />
                            <input class='btn btn-success' type="submit" value="Login" />
                            </center>
                        </p>
                    </form>
                </div>
            </div>
            <hr style="border: 1px outset #191970;">
            <a href="{% url 'user_registration' %}">Register?</a>
        </div>
    </div>
</div>




{% endblock %}