{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<br /><br /><br />
<style>
        body{
            background: url('{% static "img/unnamed.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .jumbotron {
           background: rgb(0, 0, 0);
           background: rgba(0, 0, 0, 0.5);
        }
</style>

{% if form.errors %}
<br>
<center><p style="color:red; background-color:white;">Your username and password didn't match. Please try again!!!</p></center>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p style="color:red; background-color:white;">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
        </p>
    {% else %}
        <br>
        <center><p style="color:red; background-color:white;"> *Please login to see this page!</p></center>
    {% endif %}
{% endif %}
<br>
<div class="jumbotron">
    <div class="container" style="width: 500px;">
        <center><h2 style="color:#FFA500 ;"><strong>&#9886; Sign In &#9887;</strong></h2></center><hr style="border: 1px outset #ffab00;"></center>
        <div class="login-panel panel panel-success">
            <div class="panel-heading">
                <center>
                    <h3 class="panel-title">Please Log In</h3>
                </center>
            </div>
                <div class="panel-body">
                    <form action="{% url 'login' %}" method="post">{% csrf_token %}
                        <p class="bs-component">
                        <center>
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}<hr/></td>
                                    <td>{{ form.username }} <hr/></td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}<hr/></td>
                                    <td>{{ form.password }}<hr/></td>
                                </tr>
                            </table>
                            <input type="hidden" name="next" value="{{ next }}" />
                            <input class='btn btn-success' type="submit" value="Login" />
                        </center>
                        </p>
                    </form>
                </div>
        </div>
        <center><a href="{% url 'user_registration' %}"><h4 style="color: #FFA500;"><u><b>Register</b></u>?</h4></a></h4></center>
    </div>
</div>
{% endblock %}
