{% extends "base.html" %}
{% load static %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />-->
{% block content%}
<br /><br /><br /><br />

<style>
body{
    background: url('{% static "img/unnamed.jpg" %}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
     -moz-border-radius:6px;
}
td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
    padding: 15px;
}
td:first-child, th:first-child {
     border-left: none;
}
table#t01 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron {
           background: rgb(0, 0, 0);
           background: rgba(0, 0, 0, 0.5);
        }
#t01 td:hover{
    background-color: orange;
}
#t01 td{
    color: white;
}
#t01 td label {
    display: inline-block;
}
a:hover {
transform: skew(-10deg);
}
</style>

{% if latest_question_list %}
<div class="jumbotron">
    <div class="container">
        <center><h2><font color="#FFA500">&#8681; &#9742; <u><b>QUESTIONS</b></u> &#9743; &#8681;</font></h2></center>
    </div>
</div>
<br>
<table style="color:#FFA500; width:100%" id="t01">
    {% for question in latest_question_list %}
      <tr>
        <td><center><li><a href="{% url 'polls:detail' question.id %}"><font style="color: white;">{{ question.question_text }}</font></a></li></center></td>
      </tr>
    {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</table>
<br>
<center><a class="btn btn-warning" href="{% url 'myapp:list' %}">Back to Blog</a></center>
{% endblock content%}