{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<br />
<br />
<br />
<br />

<!--<div class="container">{% load staticfiles %}-->
		<!--<img src="{% static 'img/the-bridge.css' %}" class="img-responsive">-->
<!--</div>-->


<!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />-->
<style>
    body{

        background-image: url('{% static "img/beach.jpg" %}') ;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>


<div class="navbar">
    <div class="row" >
        <div class="jumbotron">
            <h1>Hey!</h1>
            <h3>Welcome to my blog</h3>
            <h4>Plz <a href="{% url 'login' %}">log in</a> to see content!</h4>
            <h4>If you are not registered plz sign up from <a href="{% url 'user_registration' %}"> here.</a></h4>
        </div>
    </div>
</div>

{% endblock %}

