{% extends "base.html" %}
<!--{% load urlify %}-->


{% block content %}

<div class='col-sm-6 col-sm-offset-3 ' >
    <center><h1 style="color:MidnightBlue;"><strong>About Me</strong></h1><hr/></center>
    <p>This is about us. This is about us.This is about us.This is about us.This is about us. This is about us.This is about us.This is about us.</p>
    <p>This is about us. This is about us.This is about us.This is about us.This is about us. This is about us.This is about us.This is about us.</p>
    <p>This is about us. This is about us.This is about us.This is about us.This is about us. This is about us.This is about us.This is about us.</p>
    </div>


{% endblock content %}
