{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<br /><br /><br /><br />
<style>
    body{
        background-image: url('{% static "img/unnamed.jpg" %}') ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .jumbotron {
           background: rgb(0, 0, 0);
           background: rgba(0, 0, 0, 0.5);
        }
</style>
<div class="navbar">
    <div class="row">
        <div class="jumbotron">
            <h1 style="color:#FFA500">Welcome {{ user }}!</h1><br><br>
            <p style="color:white">You are on your Dashboard.</p><br>
            <h3><font style="color:white">&#8658;</font>
                    <a href="{% url 'myapp:list' %}" style="color:white"><u><b>Move on 7th Blog</b></u></a>
                        <font style="color:white">||</font>
                            <a href="{%url 'myapp:create'%}" style="color:white"><u><b>Create Post</b></u></a>
            </h3>
    </div>
</div>
{% endblock %}