{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<br />
<br />
<br />
<br />

    <style>
        body{
          background: url('{% static "img/unnamed.jpg" %}');
          background-size: cover;
        }
    </style>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hey!</h1>
            <h3>You have successfully signed up.</h3>
            <h4>Plz <a href="{% url 'login' %}">log in</a> to see content!</h4>
        </div>
    </div>
</div>
{% endblock %}